% YANA Documentation (@VERSION@)
% Alex
% August 03, 2011

Documentation for Yana is available below.  For more information see:

* [Source code on github](http://github.com/dtolabs/yana)
* [Issue tracker](https://github.com/dtolabs/yana/issues)
* [Mailing List](http://groups.google.com/group/yana-discuss)

## User Guide

* [Yana User Guide](User-Guide.html)


## API Manual

* [Yana API Manual](API-Manual.html)
