

html,
body {
   margin:0;
   padding:0;
   height:100%;
   border:0;
   background: url(../images/yana_bg.png) repeat;
   font-family: "Helvetica";
   font: 13px verdana, arial, helvetica, sans-serif;
   color:#ffffff;
}

a:link{
	font: 13px verdana, arial, helvetica, sans-serif;
	text-decoration:none;
	color:#ff6600;
	padding: 0px 5px;
}

a:visited{
	font: 13px verdana, arial, helvetica, sans-serif;
	text-decoration:none;
	color:#ff6600;
	padding: 0px 5px;
}

h1 {
    font-size: 140%;
    font-weight: bold;
}

.info{
	font: 15px verdana, arial, helvetica, sans-serif
}


.image-title{
	font: bold 17px verdana, arial, helvetica, sans-serif
}


.image-description{
	padding-top:15px;
	font: 13px verdana, arial, helvetica, sans-serif
}

.clear{clear:both;height:1px;overflow:hidden;line-height:1%;font-size:0px;margin-bottom:-1px}
* html .clear{height:auto;margin-bottom:0}
#fullheightcontainer{margin-left:auto;margin-right:auto;text-align:left;position:relative;width:782px;height:100%;}
#wrapper{min-height:100%}
#outer{z-index:1;position:relative}
#float-wrap{margin-right:-1px;float:left;display:inline}
#left{float:left;position:relative;display:inline}
#right{float:left;margin-left:-1px;position:relative;display:inline}

html,body,#fullheightcontainer,#wrapper,* html #wrapper,#outer{height:100%;}
* html #right{margin-left:0px;margin-right:-500px}
* html #left{margin-right:-3px}
#center{margin-left:-1;pxwidth:782px;}

#center{float:right;display:inline;width:782px}

/***.gfx_bg{top:0px;position:absolute;height:100%;overflow:hidden}***/
#gfx_bg_middle{top:0px;position:absolute;height:100%;overflow:hidden}
* html #gfx_bg_middle{display:none}
#subheader1,#subheader2,#subheader3,#subheader4,#subheader5,#subfooter1,#subfooter2,#subfooter3,#subfooter4{text-align:center;overflow:hidden}
.outer_horiz_border,.sb_outer_horiz_border,#headergap,#clearheadercenter,#clearheaderleft,#clearheaderright,#clearfootercenter,#clearfooterleft,#clearfooterright,.bottomtopmargin{overflow:hidden}

#header {
   padding:0px;
}
#body {
   padding-bottom:51px;   /* Height of the footer */
}
#footer {
   width:100%;
   height:51px;   /* Height of the footer */
}

.foot_style{
	height:50px;
	border: 2px solid #0431f7;
	background-color:#010e66;
}
.logo{
	background: url(../images/yana_logo2.png) no-repeat;
	height:25px;
	width:81px;
	border-bottom: 2px solid #0431f7;
}

.header_login{
	padding:0px;
	margin:0px;
	height:27px;
	width:250px;
	border-bottom: 2px solid #0431f7;
}

.header_spacer{
	border-bottom: 2px solid #0431f7;
}
.header_login_body{
	padding:0px;
	margin:0px;
	border-top: 2px solid #0431f7;
	border-right: 2px solid #0431f7;
	background-color:#010e66;
	width:223px;
	height:25px;
}

input[type=text] {
    border: 1px solid #0431f7;
    background: #0a0926;
    color:#89a9ff;
}

input[type=password] {
    border: 1px solid #0431f7;
    background: #0a0926;
    color:#89a9ff;
}

textarea {
    border-width: 1px;
    border-color: #0431f7;
    background-color: #0a0926;
    color:#89a9ff;
}

option {
    border: 1px solid #0431f7;
    background: #0a0926;
    color:#89a9ff;
}

select {
    border-width: 1px;
    border-color: #0431f7;
    background-color: #0a0926;
    color:#89a9ff;
    padding: 2px 2px 2px 0;
}

.styled-select textarea {
   background: transparent;
   border: 1px solid #0431f7;
}
.styled-select select {
   background: transparent;
   border: 1px solid #0431f7;
   width: 200px;
   height: 75px
}

.styled-dropdown textarea {
   background: transparent;
   border: 1px solid #0431f7;
}
.styled-dropdown select {
   background: transparent;
   border: 1px solid #0431f7;
   width: 200px;
}


input[type=submit]{
    border: 1.5px solid #0431f7;
    background: #021faf;
    font: 13px verdana, arial, helvetica, sans-serif;
    color:#89a9ff;
    text-align:center;
}

input[type=button]{
    border: 1.5px solid #0431f7;
    background: #021faf;
    font: 13px verdana, arial, helvetica, sans-serif;
    color:#89a9ff;
    text-align:center;
    padding:0;
    margin:0;
}

.ui-state-highlight a {color:auto !important;}
.ui-button{}
.ui-widget{}
.ui-state-default{}
.ui-corner-all{}
.ui-button-text-only{}

.ui-button-text{
	border: 1.5px solid #0431f7;
    background: #021faf;
    font: 13px verdana, arial, helvetica, sans-serif;
    color:#89a9ff;
    text-align:center;
}

.fake_button{
	padding:3px;
    border: 1.5px solid #0431f7;
    background: #021faf;
    font: 13px verdana, arial, helvetica, sans-serif;
    color:#89a9ff;
    text-align:center;
}

.fake_button a:link{
    color:#89a9ff;
}

.fake_button a:visited{
    color:#89a9ff;
}

.form_footer{
	height:25px;
	border: 2px solid #0431f7;
	background-color:#010e66;
}

.auth{
	width:350px;
	border: 2px solid #0431f7;
	background-color:#010e66;
   font: verdana, arial, helvetica, sans-serif;
   color:#ffffff;
}

.header_login_side{
	padding:0px;
	margin:0px;
	border-left: 2px solid #0431f7;
	border-bottom: 2px solid #0431f7;
	background-color:#010e66;
	width:25px;
	height:25px;
}

.header_login_side2{
	padding:0px;
	margin:0px;
	border-bottom: 2px solid #0431f7;
	border-left: 2px solid #0431f7;
	background-color:#010e66;
	width:25px;
	height:25px;
}

.header_login_corner{
	padding:0px;
	margin:0px;
	background-image: url('../images/yana_uleft_corner.png');
	background-repeat: no-repeat;
	height:27px;
	width:27px;
}

.header_login_corner2{
	padding:0px;
	margin:0px;
	background-image: url('../images/yana_uleft_corner.png');
	background-repeat: no-repeat;
	height:27px;
	width:27px;
}

.header_bottom_corner{
	padding:0px;
	margin:0px;
	background: url('../images/yana_header_thumb.png');
	background-repeat: no-repeat;
	position:relative;top:-4px;
	height:27px;
	width:51px;
}

.header_search{
	background-color:#010e66;
	border-right: 2px solid #0431f7;
	border-bottom: 2px solid #0431f7;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

input.s2ui_hidden_button{
	border:0px;
	background-color:transparent;
}

textarea {
  width: 250px;
  height: 150px;
  vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #ff6600;
}

option[selected]{
	background-color:#ff6600;
	color:#0a0926;
}

/* NAVIGATION MENU */
.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/icons/icon-tiny-rarrow-sep.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/icons/list.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/icons/add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
	border: 2px solid #ff6600;
	background-color: #021faf;
    color: #ff6600;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
  background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}
td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

label.error{
    color:red;
}

/* TABLES 

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}
*/

.odd {
    background: #010e38;
}
.even {
    background: #010e28;
}
/* LIST */

.list table {
    border-collapse: collapse;
    border: 1px solid #0431f7;
}
.list th{
	background-color:#010e66;
}
.list th, .list td {
    padding:4px;
}

.list th:hover, .list tr:hover {
	background-color:#021faf;
}


/* PAGINATION */

.paginateButtons {
    background: url(../images/skin/shadow.jpg) bottom repeat-x;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
    font-weight:bold;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

/*
.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}


.buttons input.delete {
    background: transparent url(../images/icons/delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/icons/edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
*/



